%rubik-300 {
  font-weight: 300;
  font-family: 'Rubik-Light', sans-serif;
}
%rubik-400 {
  font-weight: 400;
  font-family: 'Rubik-Regular', sans-serif;
}

%rubik-500 {
  font-weight: 500;
  font-family: 'Rubik-Medium', sans-serif;
}

%rubik-700 {
  font-weight: 700;
  font-family: 'Rubik-Bold', sans-serif;
}

%dmsans-400 {
  font-weight: 400;
  font-family: 'DMSans-Regular', sans-serif;
}

%dmsans-500 {
  font-weight: 500;
  font-family: 'DMSans-Medium', sans-serif;
}

%dmsans-700 {
  font-weight: 700;
  font-family: 'DMSans-Bold', sans-serif;
}

%poppins-600 {
  font-weight: 600;
  font-family: 'Poppins-SemiBold', sans-serif;
}

%poppins-700 {
  font-weight: 700;
  font-family: 'Poppins-Bold', sans-serif;
}

%nunito-700 {
  font-weight: 700;
  font-family: 'Nunito-Bold', sans-serif;
}