%rubik-400 {
  font-weight: 400;
  font-family: 'Rubik-Regular', sans-serif;
}

%rubik-500 {
  font-weight: 500;
  font-family: 'Rubik-Medium', sans-serif;
}

%rubik-700 {
  font-weight: 700;
  font-family: 'Rubik-Bold', sans-serif;
}

%dmsans-400 {
  font-weight: 400;
  font-family: 'DMSans-Regular', serif;
}

%dmsans-500 {
  font-weight: 500;
  font-family: 'DMSans-Medium', serif;
}

%dmsans-700 {
  font-weight: 700;
  font-family: 'DMSans-Bold', serif;
}

%poppins-700 {
  font-weight: 700;
  font-family: 'Poppins-Bold', serif;
}